html{
    height: 100vh;
}
body{
    margin: 0;
    border: 0;
    width: 100vw; 
    height: 100vh; 
}
.container{
    display: flex;
    width: 100vw; 
    height: 100vh; 
    background-color: #787878;
    color: #fff;
    flex-direction: row;
}
.armario{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-end;
    width: 35vw;
    height: 100vh;
    /* background-color: #fff; */
    
}
.prateleira{
    display: flex;
    margin-left: 40%;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30vh;
    /* background-color: red;  */
    
}
.prateleira img {
     display: flex;
    max-width:28vw; 
    height: 28vh; 
     /* background-color: blue  */
}

@font-face {
    font-family: 'DS-Digital';
    src: url('Fontes/ds_digital/DS-DIGI.TTF');
    src: url('Fontes/ds_digital/DS-DIGIB.TTF');
    src: url('Fontes/ds_digital/DS-DIGII.TTF');
    src: url('Fontes/ds_digital/DS-DIGIT.TTF');
}

h2{
    font-family: 'DS-Digital';
    font-size: clamp(0.1em , 1.5em + 3vw, 2em);
}
/* Media query para quando a tela for menor que 600px */
@media (max-width: 1305px) {
    .prateleira {
        flex-direction: column-reverse; /* Inverte a ordem dos elementos */
        width: 30vw;
        height: 40vh;
    }
    .prateleira img{
        display: flex;
        max-width:23vw; 
        height: 23vh; 
    }
}
