html{
    height: 100vh;
}
body{
    margin: 0;
    border: 0;
    width: 100vw; 
    height: 100vh; 
}
.container{

    background-color: #787878;
    display: flex;
    width: 100vw; 
    height: 100vh; 
    justify-content:center;
   
}
.armario{
   align-items: center;
    flex-direction: column;
    display: flex;
    width: 95vw;
    height: 92vh;
    background-color: #787878;
    padding-top: 2%;
}
.prateleira{
    display: flex;
    width: 87vw;
    height: 17.42vh;
    flex-direction: row; 
    margin-bottom: 1%; 
}
.base img:hover{
    padding: 5px;
    
    border-radius: 40px;
    color: black;
    
}


.base{
    
    display: flex;
    width: 14.6vw;
    height: 17.4vh;
    background-color: #787878;
    align-items: center;
    
    flex-direction: column;
}
.sensorPreto{
    width: 11.0vw;
    height: 15.0vh; 
    background-color: #787878;
}
p{
    z-index: 1;
    font-family: 'DS-Digital';
    font-size: 1.8vw;
    
    margin: 0;
    color: white;
   
}
#baseUm{
    
}
#baseDois{
   
}
#baseTres{
    
}
#baseQuatro{
    
}
#baseCinco{
    
}
#baseSeis{
    
}

#prateleiraUm{
   
}
#prateleiraDois{
    
}
#prateleiraTres{
    
}
#prateleiraQuatro{
   
}
#prateleiraCinco{
    
}
.prateleira img {
    
}

@font-face {
    font-family: 'DS-Digital';
    src: url('Fontes/ds_digital/DS-DIGI.TTF');
    src: url('Fontes/ds_digital/DS-DIGIB.TTF');
    src: url('Fontes/ds_digital/DS-DIGII.TTF');
    src: url('Fontes/ds_digital/DS-DIGIT.TTF');
}

h2{
    font-family: 'DS-Digital';
    font-size: clamp(0.1em , 1.5em + 3vw, 2em);
}
/* Media query para quando a tela for menor que 600px 
@media (max-width: 1304px) {
    .prateleira {
        flex-direction: column-reverse; 
        width: 30vw;
        height: 40vh;
    }
    .prateleira img{
        display: flex;
        max-width:23vw; 
        height: 23vh; 
    }
<<<<<<< HEAD
}
=======
    h2{
        font-size: clamp(0.1em , 1.5em + 3vw, 1.3em);
    }
}*/

>>>>>>> 0fb8d145e6f623f44ad681c7a114b496d356734b
