html{
    height: 100vh;
}
body{
    margin: 0;
    border: 0;
    width: 100vw; /* 50% da largura da janela do navegador */
    height: 100vh; 
}
.container{
    width: 100vw; /* 50% da largura da janela do navegador */
    height: 100vh; /* 50% da altura da janela do navegador */
    background-color: #787878;
    color: #fff;
   
    
}
.armario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 28vw;
    height: 100vh;
    background-color: red;
}
.prateleira{
    width: 28vw;
    height: 10vh;
    background-color: blue;
}