table {
    width: 90%;
}

th {
    text-align: left;
}

.acoes {
    text-align: center;
}

.tabela {
    border: 1px solid blue;
}

.mainPage {
    min-height: 100vh;
    background-color: #f2f2f2;
}

.header {
    height: auto;
    width: 95%;
    margin-left: 2.5%;
    text-align: center;
    color: blue;
    border-bottom: 2px grey solid;
}

.section {
    color: blue;
    margin-left: 10%;
    min-height: 35%;
}

.campo-formulario {
    margin-bottom: 10px;
}

.input-formulario {
    margin-top: 2px;
    margin-left: 10px;
    min-width: 85%;
}

.input-data {
    min-width: 15%;
}

.input-pequeno {
    min-width: 25%;
}

.listagem {
    padding-bottom: 20px;
}

.listagem th, .listagem td {
    border: 1px solid blue;
}